In [29]:
import numpy as np
import pandas as pd

In [30]:
mydata = ["Boat", "Car", "Bike", "Truck"]

series1 = pd.Series(mydata)

In [31]:
for j in enumerate(mydata):
    print(j)

(0, 'Boat')
(1, 'Car')
(2, 'Bike')
(3, 'Truck')

In [32]:
print(series1)

0     Boat
1      Car
2     Bike
3    Truck
dtype: object

In [33]:
k = [1,55,99,43]
series2 = pd.Series(k)
print(series2)

0     1
1    55
2    99
3    43
dtype: int64

## Dataframe

In [34]:
mydataframe = [("Boat",1), ("Car",55), ("Bike",99), ("Truck",43)]

mydf = pd.DataFrame(mydataframe, columns = ["thing", "count"])

mydf

   thing  count
0   Boat      1
1    Car     55
2   Bike     99
3  Truck     43

In [35]:
mydf["thing"]

0     Boat
1      Car
2     Bike
3    Truck
Name: thing, dtype: object

## Reading in data

In [36]:
df = pd.read_csv("MrBeast_youtube_stats.csv")

In [37]:
#Head/ Tail
df.tail() #df.head()

,id,title,description,publishTime,kind_stats,duration_seconds,viewCount,likeCount,commentCount,thumbnails.default.url,...,thumbnails.high.width,thumbnails.high.height,contentDetails.duration,contentDetails.dimension,topicDetails.topicCategories,snippet.defaultLanguage,localizations.en.title,localizations.en.description,snippet.tags,contentDetails.contentRating.ytRating
242,yeHjsYQ076A,Remember When COD Was Fun?,"Yup, another very pointless video â–» Subscribe?...",2015-04-26 21:26:36+00:00,youtube#video,216,16312.0,574.0,145.0,https://i.ytimg.com/vi/yeHjsYQ076A/default.jpg,...,480.0,360.0,PT3M36S,2d,['https://en.wikipedia.org/wiki/Action-adventu...,NaN,NaN,NaN,"['How', 'much', 'money', 'does', 'make', 'blac...",NaN
243,X7doE4h6W64,Insane Gun Sync - 7 Hours To Make,Look at this - http://gyazo.com/8852509d2350db...,2015-06-21 12:22:34+00:00,youtube#video,134,15740.0,637.0,105.0,https://i.ytimg.com/vi/X7doE4h6W64/default.jpg,...,480.0,360.0,PT2M14S,2d,['https://en.wikipedia.org/wiki/Action-adventu...,NaN,NaN,NaN,"['How', 'much', 'money', 'does', 'make', 'blac...",NaN
244,AIytwdufwW8,MY MESSAGE TO COD YOUTUBERS (Watch till end plz),The beginning of the video is a little off top...,2015-05-29 20:07:48+00:00,youtube#video,292,18502.0,508.0,117.0,https://i.ytimg.com/vi/AIytwdufwW8/default.jpg,...,480.0,360.0,PT4M52S,2d,['https://en.wikipedia.org/wiki/Action-adventu...,NaN,NaN,NaN,"['How', 'much', 'money', 'does', 'make', 'blac...",NaN
245,56OkH6ocYZU,L0114R - Biblical Creeper Post for Post @L0114R,His channel - https://www.youtube.com/user/the...,2015-05-15 16:48:54+00:00,youtube#video,109,16627.0,430.0,134.0,https://i.ytimg.com/vi/56OkH6ocYZU/default.jpg,...,480.0,360.0,PT1M49S,2d,['https://en.wikipedia.org/wiki/Action-adventu...,NaN,NaN,NaN,"['How', 'much', 'money', 'does', 'make', 'blac...",NaN
246,zi7tZ-2PhLk,How Much Money Do You Make As An Uber Driver??...,In this video I talk about being an uber drive...,2015-05-31 18:31:25+00:00,youtube#video,304,18773.0,370.0,59.0,https://i.ytimg.com/vi/zi7tZ-2PhLk/default.jpg,...,480.0,360.0,PT5M4S,2d,['https://en.wikipedia.org/wiki/Action-adventu...,NaN,NaN,NaN,"['How', 'much', 'money', 'does', 'make', 'blac...",NaN

In [38]:
df.dtypes

id                                        object
title                                     object
description                               object
publishTime                               object
kind_stats                                object
duration_seconds                           int64
viewCount                                float64
likeCount                                float64
commentCount                             float64
thumbnails.default.url                    object
thumbnails.default.width                 float64
thumbnails.default.height                float64
thumbnails.medium.url                     object
thumbnails.medium.width                  float64
thumbnails.medium.height                 float64
thumbnails.high.url                       object
thumbnails.high.width                    float64
thumbnails.high.height                   float64
contentDetails.duration                   object
contentDetails.dimension                  object
topicDetails.topicCategories              object
snippet.defaultLanguage                   object
localizations.en.title                    object
localizations.en.description              object
snippet.tags                              object
contentDetails.contentRating.ytRating     object
dtype: object

In [39]:
df.describe()

,duration_seconds,viewCount,likeCount,commentCount,thumbnails.default.width,thumbnails.default.height,thumbnails.medium.width,thumbnails.medium.height,thumbnails.high.width,thumbnails.high.height
count,247.000000,2.460000e+02,2.440000e+02,245.000000,246.0,246.0,246.0,246.0,246.0,246.0
mean,1886.234818,5.084638e+07,1.610498e+06,75562.783673,120.0,90.0,320.0,180.0,480.0,360.0
std,8642.188728,4.062672e+07,1.879529e+06,85356.537127,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,1.395400e+04,3.700000e+02,59.000000,120.0,90.0,320.0,180.0,480.0,360.0
25%,425.500000,1.406442e+07,4.348780e+05,21552.000000,120.0,90.0,320.0,180.0,480.0,360.0
50%,776.000000,4.904782e+07,1.358232e+06,60701.000000,120.0,90.0,320.0,180.0,480.0,360.0
75%,923.000000,8.125392e+07,2.294378e+06,99670.000000,120.0,90.0,320.0,180.0,480.0,360.0
max,85686.000000,1.787632e+08,1.904943e+07,726861.000000,120.0,90.0,320.0,180.0,480.0,360.0

In [40]:
df["viewCount"]

0       84717282.0
1       32090178.0
2              NaN
3      101745632.0
4       50008942.0
          ...
242        16312.0
243        15740.0
244        18502.0
245        16627.0
246        18773.0
Name: viewCount, Length: 247, dtype: float64

In [41]:
df.loc[4]

id                                                                             cExLQ1o2pDw
title                                                      First To Rob Bank Wins $100,000
description                              I didnt think he would actually rob the bank.....
publishTime                                                      2021-09-26 20:00:06+00:00
kind_stats                                                                   youtube#video
duration_seconds                                                                       482
viewCount                                                                       50008942.0
likeCount                                                                        2359606.0
commentCount                                                                      120621.0
thumbnails.default.url                      https://i.ytimg.com/vi/cExLQ1o2pDw/default.jpg
thumbnails.default.width                                                             120.0
thumbnails.default.height                                                             90.0
thumbnails.medium.url                     https://i.ytimg.com/vi/cExLQ1o2pDw/mqdefault.jpg
thumbnails.medium.width                                                              320.0
thumbnails.medium.height                                                             180.0
thumbnails.high.url                       https://i.ytimg.com/vi/cExLQ1o2pDw/hqdefault.jpg
thumbnails.high.width                                                                480.0
thumbnails.high.height                                                               360.0
contentDetails.duration                                                             PT8M2S
contentDetails.dimension                                                                2d
topicDetails.topicCategories             ['https://en.wikipedia.org/wiki/Lifestyle_(soc...
snippet.defaultLanguage                                                                NaN
localizations.en.title                                                                 NaN
localizations.en.description                                                           NaN
snippet.tags                                                                           NaN
contentDetails.contentRating.ytRating                                                  NaN
Name: 4, dtype: object

In [42]:
df = df.set_index("id")

In [43]:
df.head()   #shifted index to id

,title,description,publishTime,kind_stats,duration_seconds,viewCount,likeCount,commentCount,thumbnails.default.url,thumbnails.default.width,...,thumbnails.high.width,thumbnails.high.height,contentDetails.duration,contentDetails.dimension,topicDetails.topicCategories,snippet.defaultLanguage,localizations.en.title,localizations.en.description,snippet.tags,contentDetails.contentRating.ytRating
id,,,,,,,,,,,,,,,,,,,,,
TQHEJj68Jew,I Got Hunted By A Real Bounty Hunter,"Sign up for Current w/ my Creator Code ""BEAST""...",2021-04-24 20:00:00+00:00,youtube#video,861,84717282.0,2876493.0,128922.0,https://i.ytimg.com/vi/TQHEJj68Jew/default.jpg,120.0,...,480.0,360.0,PT14M21S,2d,['https://en.wikipedia.org/wiki/Lifestyle_(soc...,NaN,NaN,NaN,NaN,NaN
00NgUctWoLQ,"Extreme $1,000,000 Hide And Seek",I didn't expect that to happen at the end I wa...,2021-12-18 21:00:00+00:00,youtube#video,729,32090178.0,2125183.0,73593.0,https://i.ytimg.com/vi/00NgUctWoLQ/default.jpg,120.0,...,480.0,360.0,PT12M9S,2d,['https://en.wikipedia.org/wiki/Lifestyle_(soc...,en,"Extreme $1,000,000 Hide And Seek",I didn't expect that to happen at the end I wa...,NaN,NaN
NaN,MrBeast,Accomplishments - Raised $20000000 To Plant 20...,2012-02-20 00:43:50+00:00,NaN,0,NaN,NaN,NaN,https://yt3.ggpht.com/ytc/AKedOLTctGKJ32CdDLiS...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ayXxwJJId_c,I Bought The World&#39;s Largest Mystery Box! ...,I cant believe I spent over $500000 on mystery...,2021-04-03 20:00:01+00:00,youtube#video,709,101745632.0,3110824.0,162796.0,https://i.ytimg.com/vi/ayXxwJJId_c/default.jpg,120.0,...,480.0,360.0,PT11M49S,2d,['https://en.wikipedia.org/wiki/Lifestyle_(soc...,NaN,NaN,NaN,NaN,NaN
cExLQ1o2pDw,"First To Rob Bank Wins $100,000",I didnt think he would actually rob the bank.....,2021-09-26 20:00:06+00:00,youtube#video,482,50008942.0,2359606.0,120621.0,https://i.ytimg.com/vi/cExLQ1o2pDw/default.jpg,120.0,...,480.0,360.0,PT8M2S,2d,['https://en.wikipedia.org/wiki/Lifestyle_(soc...,NaN,NaN,NaN,NaN,NaN

In [44]:
df.loc["cExLQ1o2pDw"]

title                                                      First To Rob Bank Wins $100,000
description                              I didnt think he would actually rob the bank.....
publishTime                                                      2021-09-26 20:00:06+00:00
kind_stats                                                                   youtube#video
duration_seconds                                                                       482
viewCount                                                                       50008942.0
likeCount                                                                        2359606.0
commentCount                                                                      120621.0
thumbnails.default.url                      https://i.ytimg.com/vi/cExLQ1o2pDw/default.jpg
thumbnails.default.width                                                             120.0
thumbnails.default.height                                                             90.0
thumbnails.medium.url                     https://i.ytimg.com/vi/cExLQ1o2pDw/mqdefault.jpg
thumbnails.medium.width                                                              320.0
thumbnails.medium.height                                                             180.0
thumbnails.high.url                       https://i.ytimg.com/vi/cExLQ1o2pDw/hqdefault.jpg
thumbnails.high.width                                                                480.0
thumbnails.high.height                                                               360.0
contentDetails.duration                                                             PT8M2S
contentDetails.dimension                                                                2d
topicDetails.topicCategories             ['https://en.wikipedia.org/wiki/Lifestyle_(soc...
snippet.defaultLanguage                                                                NaN
localizations.en.title                                                                 NaN
localizations.en.description                                                           NaN
snippet.tags                                                                           NaN
contentDetails.contentRating.ytRating                                                  NaN
Name: cExLQ1o2pDw, dtype: object

## Subsetting Data

In [45]:
df = df[["title", "description", "publishTime","viewCount"]] # creates a new smaler dataframe for the chosen columns

In [60]:
df.head()

,title,description,publishTime,viewCount
id,,,,
TQHEJj68Jew,I Got Hunted By A Real Bounty Hunter,"Sign up for Current w/ my Creator Code ""BEAST""...",2021-04-24 20:00:00+00:00,84717282.0
00NgUctWoLQ,"Extreme $1,000,000 Hide And Seek",I didn't expect that to happen at the end I wa...,2021-12-18 21:00:00+00:00,32090178.0
NaN,MrBeast,Accomplishments - Raised $20000000 To Plant 20...,2012-02-20 00:43:50+00:00,NaN
ayXxwJJId_c,I Bought The World&#39;s Largest Mystery Box! ...,I cant believe I spent over $500000 on mystery...,2021-04-03 20:00:01+00:00,101745632.0
cExLQ1o2pDw,"First To Rob Bank Wins $100,000",I didnt think he would actually rob the bank.....,2021-09-26 20:00:06+00:00,50008942.0

In [61]:
df_subset1 = df.loc[df["viewCount"] > 1_000_000] # making a new subset with all vids over a threshold

In [63]:
df_subset2 = df.query("viewCount > 1_000_000")  #same as above

In [69]:
df = df.loc[~df["viewCount"].isna()]  #checking if the value is a nullvalvue (useless value) ~ makes it do teh oposite like boolean not

,title,description,publishTime,viewCount
id,,,,
TQHEJj68Jew,I Got Hunted By A Real Bounty Hunter,"Sign up for Current w/ my Creator Code ""BEAST""...",2021-04-24 20:00:00+00:00,84717282.0
00NgUctWoLQ,"Extreme $1,000,000 Hide And Seek",I didn't expect that to happen at the end I wa...,2021-12-18 21:00:00+00:00,32090178.0
ayXxwJJId_c,I Bought The World&#39;s Largest Mystery Box! ...,I cant believe I spent over $500000 on mystery...,2021-04-03 20:00:01+00:00,101745632.0
cExLQ1o2pDw,"First To Rob Bank Wins $100,000",I didnt think he would actually rob the bank.....,2021-09-26 20:00:06+00:00,50008942.0
GLoeAJUcz38,"Press This Button To Win $100,000!",Push the red subscribe button and you could al...,2020-11-14 21:00:02+00:00,145527042.0
...,...,...,...,...
yeHjsYQ076A,Remember When COD Was Fun?,"Yup, another very pointless video â–» Subscribe?...",2015-04-26 21:26:36+00:00,16312.0
X7doE4h6W64,Insane Gun Sync - 7 Hours To Make,Look at this - http://gyazo.com/8852509d2350db...,2015-06-21 12:22:34+00:00,15740.0
AIytwdufwW8,MY MESSAGE TO COD YOUTUBERS (Watch till end plz),The beginning of the video is a little off top...,2015-05-29 20:07:48+00:00,18502.0
56OkH6ocYZU,L0114R - Biblical Creeper Post for Post @L0114R,His channel - https://www.youtube.com/user/the...,2015-05-15 16:48:54+00:00,16627.0
zi7tZ-2PhLk,How Much Money Do You Make As An Uber Driver??...,In this video I talk about being an uber drive...,2015-05-31 18:31:25+00:00,18773.0

## Plot Examples

In [70]:
df["viewCount"].plot(kind=hist)

NameError: name 'hist' is not defined